@mixin transition($duration, $property: all, $timing-function: linear) {
    -moz-transition: $property $duration $timing-function;
    -webkit-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    display: block;
    height: 100px;
    margin: 0;
    padding: 0;

    svg {
        @include transform(rotate(90deg));
        float: left;
        width: 60px;
        margin: 0 20px;
    }
    span {
        display: none;
    }
}
.habit-form {
    width: 100%;
    height: 100px;
    position: relative;

    h2 {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 20px;
        top: 20px;
        letter-spacing: 0.05em;
        font-weight: 400;
    }

    $colors: #4285f4, #3f51b5, #0f9d58, #ffeb3b, #ff5722, #9c27b0;

    @each $color in $colors {
        &:nth-child(#{index($colors,$color)}n) {
            background-color: $color;
            @if index($colors, $color) == 4 {
                color: #333;
            }@else{
                color: #f1f1f1;
            }
        }
    }

    .habit-action {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        overflow: hidden;
        text-indent: -9999em;
        background-color: transparent;
        @include transition(.2s, background, linear);

        &:hover {
            background-color: rgba(0,0,0,.3);
        }
        &:active {
            box-shadow: inset 0 0 20px rgba(0,0,0,.4);
        }
    }
    &.triggered {
        .habit-action {
            background-color: rgba(255,255,255,.4);
        }
    }
    .habit-count {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 22px;
    }

}
.add-new {
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
        width: 60px;
        height: 60px;
    }
}
svg {
    fill: #1a1a1a;
    @include transition(.2s, opacity, linear);

    &:hover {
        opacity: .8;
    }
}
.add-habit-form {
    display: none;

    &:target {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        margin: auto;

        .inner {
            z-index: 10;
            position: relative;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,.4);
            padding: 40px;
            z-index: 100;
        }

        &:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,.8);
            z-index: -1;
        }
    }
}
